*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
.shipping{
    background-color:black;
    border-bottom:0.2px solid rgb(48, 42, 42);
    text-align: center;
    color: white;
}
.nbar{
    background-color: black;
    color: white;
}
.foot{
    background-color: black;
    color: white;
    text-align: center;
    border-bottom:0.2px solid rgb(48, 42, 42);
}
.endfoot{
    background-color:black;
    text-align: center;
    color: white;
}
.bon:hover{
    color: blue;
}
@media screen and (max-width:1000px){
.founderdiv{
    padding-top: 0%;
    text-align: center;
    
}

}
    
